.dimBackground {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1
}

.modalContainer {
  position: relative;
  top: 50;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 50%;
  background: white;
  opacity: 1;
  color: black
}

.title {
  text-decoration: underline;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 80%;
}

.messageHeader {
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
}